@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Petrona:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
}


body {
    font-family: "Petrona", serif;
}

a {
    text-decoration: none;
    color: #F0F0F0;
}

header {
    background-color: #0A0A0A;
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
}

.logo {
    width: fit-content;
}

.logo a {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.logo h1 {
    font-weight: 700;
    font-size: 30px;
}

.logo p {
    text-align: center;
    font-size: 25px;
    font-weight: 200;
}

hr {
    height: solid 1px;
}

.navbar {
    margin: auto 0;
}

.navbar ul {
    display: flex;
    gap: 30px;
}

.navbar a {
    font-weight: 400;
    font-size: 20px;
}

.reels_section {
    background: url(../img/background/banner1_gradient.png);
    background-size: cover;
    background-position: center;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.title h2 {
    color: #F0F0F0;
    font-size: 50px;
    text-transform: uppercase;
    font-family: "poppins", serif;
}

.title_detail {
    display: flex;
    gap: 10px;
    margin: 10px;
    align-items: center;
    width: fit-content;
}

.title_detail hr {
    width: 50px;
    height: 3px;
    border: 0 ;
    background-color:  #F0F0F0;
}